APP_ENV=development
DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=

AUTH_DB_NAME=auth_db
AUTH_DB_USER=
AUTH_DB_PASSWORD=

USER_DB_NAME=user_db
USER_DB_USER=
USER_DB_PASSWORD=

STORAGE_PROVIDER=local
STORAGE_LOCAL_PATH=./data

LOG_LEVEL=INFO
LOG_PATH=./logs

LLM_PROVIDER=groq

GROQ_API_KEY=
GROQ_MODEL_NAME=

OPENAI_API_KEY=
OPENAI_MODEL_NAME=